@page
@model Application.Pages.About

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<p>Тут что-то умное написано будет</p>
<a href="/">ГлАвНая СтРаНиЦа</a>

</body>
</html>