@page
@model Application.Pages.DataBase

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<p>Что такое ms sql server?</p>
<a href="/">ГлАвНая СтРаНиЦа</a>

</body>
</html>