@page
@model Application.Pages.Home

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<p>Сюда чет пишешь</p>
<a href="About">Вау это что ссылочка на другую вкладочку?<br/></a>
<a href="DataBase">Еще какая-то ссылочка..</a>
</body>
</html>